.o_base_adi_res_region [data-name="flag_image_64"] {
    width: 80px;
    min-width: 80px;
}

.o_base_adi_res_municipality [data-name="province_id"] {
    width: 150px;
}

.o_base_adi_res_place [data-name="province_id"] {
    width: 150px;
}

.o_base_adi_res_place [data-name="municipality_id"] {
    width: 200px;
}